@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* line 4, styles.scss */
html a {
  text-decoration: none;
  color: inherit; }

/* line 10, styles.scss */
.container {
  width: 1095px;
  margin: auto; }
  /* line 11, styles.scss */
  .container .center {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  /* line 19, styles.scss */
  .container .home img {
    margin-left: auto;
    margin-right: auto; }
  /* line 24, styles.scss */
  .container .header_bg {
    width: 100%;
    height: 791px;
    padding: 0;
    margin: 0; }
  /* line 30, styles.scss */
  .container .information {
    width: 100%;
    height: 350px; }
    /* line 33, styles.scss */
    .container .information .left {
      background-size: auto 350px;
      background-repeat: no-repeat;
      width: 480px;
      height: 100%;
      display: inline-block; }
    /* line 40, styles.scss */
    .container .information .right {
      padding-top: 20px;
      width: 590px;
      height: auto;
      display: inline-block;
      float: right; }
      /* line 48, styles.scss */
      .container .information .right .paragraph p {
        font-family: 'Montserrat', sans-serif;
        font-size: 11pt;
        font-weight: 450;
        line-height: 27px;
        margin: 0px;
        text-align: justify;
        margin-top: 10px;
        letter-spacing: .75px; }
        /* line 57, styles.scss */
        .container .information .right .paragraph p strong {
          font-weight: 900; }
  /* line 64, styles.scss */
  .container .icons {
    width: 100%;
    min-height: 525px; }
    /* line 67, styles.scss */
    .container .icons .floatie {
      width: auto;
      height: 100%; }
      /* line 70, styles.scss */
      .container .icons .floatie .third {
        width: 33%;
        height: 90%;
        float: left;
        padding-top: 40px;
        margin-left: 2.7px;
        position: relative; }
        /* line 77, styles.scss */
        .container .icons .floatie .third .icon_img {
          max-width: 140px;
          margin: 0 auto; }
        /* line 82, styles.scss */
        .container .icons .floatie .third .paragraph2 {
          width: 80%;
          height: 65%;
          margin: 0 auto; }
          /* line 86, styles.scss */
          .container .icons .floatie .third .paragraph2 p {
            font-family: 'Montserrat', sans-serif;
            font-size: 11pt;
            font-weight: 450;
            line-height: 27px;
            margin: 0px;
            text-align: justify;
            margin-top: 10px;
            letter-spacing: 1px; }
  /* line 101, styles.scss */
  .container .body {
    width: 100%;
    height: 550px; }
    /* line 102, styles.scss */
    .container .body .horiz_line {
      width: 100%;
      border-bottom-color: grey;
      border-bottom-width: thin;
      border-bottom-style: solid;
      margin-bottom: 30px; }
    /* line 111, styles.scss */
    .container .body h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 25pt;
      line-height: 70px;
      margin: 0px;
      text-align: left;
      margin-top: 15px;
      letter-spacing: 1px; }
    /* line 120, styles.scss */
    .container .body .masthead {
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0; }
    /* line 127, styles.scss */
    .container .body .note {
      width: 93%;
      margin: 0 auto;
      margin-bottom: 30px; }
      /* line 131, styles.scss */
      .container .body .note h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 19pt;
        line-height: 70px;
        margin: 0px;
        text-align: left;
        letter-spacing: 1px; }
      /* line 139, styles.scss */
      .container .body .note p {
        font-family: 'Montserrat', sans-serif;
        font-size: 11pt;
        font-weight: 450;
        line-height: 27px;
        margin: 0px;
        text-align: justify;
        letter-spacing: 1px; }
    /* line 149, styles.scss */
    .container .body .info {
      width: 100%;
      height: 200px;
      margin: 0 auto; }
      /* line 153, styles.scss */
      .container .body .info h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 19pt;
        margin: 0px;
        letter-spacing: 1px; }
      /* line 159, styles.scss */
      .container .body .info h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11pt;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 20px;
        margin-top: 20px;
        letter-spacing: 3px;
        max-width: 330px;
        padding-bottom: 5px;
        border-bottom-color: grey;
        border-bottom-width: thin;
        border-bottom-style: solid; }
      /* line 174, styles.scss */
      .container .body .info p {
        font-family: 'Montserrat', sans-serif;
        font-size: 11pt;
        font-weight: 450;
        line-height: 27px;
        margin: 0px;
        text-align: justify;
        letter-spacing: 1px;
        margin-bottom: 20px;
        margin-top: 20px; }
      /* line 185, styles.scss */
      .container .body .info .advisor {
        width: 93%;
        margin: 0 auto; }
        /* line 189, styles.scss */
        .container .body .info .advisor press #cf {
          position: relative;
          height: 60px;
          width: 300px;
          margin: 0 auto; }
        /* line 196, styles.scss */
        .container .body .info .advisor press #cf img {
          position: absolute;
          left: 0;
          -webkit-transition: opacity 0.2s ease-in-out;
          -moz-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out; }
        /* line 205, styles.scss */
        .container .body .info .advisor press #cf img.top:hover {
          opacity: 0; }
      /* line 210, styles.scss */
      .container .body .info .ra {
        width: 93%;
        margin: 0 auto; }
        /* line 213, styles.scss */
        .container .body .info .ra a {
          text-decoration: underline; }
        /* line 217, styles.scss */
        .container .body .info .ra press #cf {
          position: relative;
          height: 60px;
          width: 300px;
          margin: 0 auto; }
        /* line 224, styles.scss */
        .container .body .info .ra press #cf img {
          position: absolute;
          left: 0;
          -webkit-transition: opacity 0.2s ease-in-out;
          -moz-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out; }
        /* line 233, styles.scss */
        .container .body .info .ra press #cf img.top:hover {
          opacity: 0; }
      /* line 238, styles.scss */
      .container .body .info .schedule {
        width: 93%;
        margin: 0 auto; }
        /* line 241, styles.scss */
        .container .body .info .schedule .bottom {
          text-align: center;
          margin: 0 auto;
          font-size: 25pt;
          font-weight: 100;
          margin-bottom: 30px; }
